/* ------------------------------------------------*/
/* BASIC SETUP */
/* ------------------------------------------------*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: LeagueSpartanCustom;
    src: "../fonts/LeagueSpartan-Bold.otf"
}

html {
    background-color:#FF0381;
    color: #FFFFFF;
    /* HEADING color: #F6D446; */
    font-size: 62.5%;
    font-weight: 300;
    font-family: 'LeagueSpartanCustom', 'Arial', sans-serif;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 4rem 0 0 0;
}

.box {
    padding: 1%;
}

/* ------------------------------------------------*/
/* HEADINGS */
/* ------------------------------------------------*/

h3 {
    margin: 0;
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
}

h3 {
    font-size: 3.6rem;
    text-align: center;
    margin-bottom: 3rem;
}

/* The line that appears after the h3 element */
h3:after {
    display: block;
    height: 2px;
    background-color: #F6D446;
    content: " ";
    width: 10rem;
    margin: 0 auto;
    margin-top: 3rem;
}

/* ------------------------------------------------*/
/* HEADER */
/* ------------------------------------------------*/

/* Hero image centered and fills whole viewport */
/* header {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
} */
.section-heading {
    padding-bottom: 12rem;
}

.hero-text-box {
    text-align: center;
}

.heading-text-presents {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1rem;
    font-size: 1.6rem;
    color: #000000;
    padding-top: 12rem;
}

.heading-text-main-title {
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: 900;
}

.heading-text-dates {
    font-size: 3.6rem;
    text-transform: uppercase;
    font-weight: 800;
}

/* .logo-img {
    width: 45%;
    max-width: 90rem;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
    pointer-events: none;
} */

.main-nav {
    float: right;
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-left: 4rem;
}

.main-nav li a:link,
.main-nav li a:visited {
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: solid 0.2rem transparent;
    padding: 0.8rem 0;
    color: #FFFFFF;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: solid 0.2rem #F6D446;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

/* ------------------------------------------------*/
/* PARAGRAPHS */
/* ------------------------------------------------*/

p {
    font-size: 1.4rem;
    line-height: 145%;
    font-family: 'Open Sans', 'Arial', sans-serif;
}

.long-copy {
    width: 70%;
    margin: 0 auto 2rem auto;
    font-weight: 300;
}

/* ------------------------------------------------*/
/* LINKS */
/* ------------------------------------------------*/

a:link,
a:visited {
    color: #000;
    text-decoration: none;
    border-bottom: 0.1rem solid #555;
    padding-bottom: 0.1rem;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #C3A113;
    border-bottom: 0.1rem solid transparent;
}

button {
    width: 10rem;
    padding: 0.7rem;
    border-radius: 100rem;
    border: 1px solid #C3A113;
    background-color: #F6D446;
    color: #000000;
    text-transform: uppercase;
}

button:focus { outline:0; }

button:hover,
button:active {
    background-color: #C3A113;
}

.button-links {
    text-align: center;
}

.btn-brochure {
    margin-left: .5rem;
}

.btn-brochure a {
    color: #000000;
    text-decoration: none;
    border-bottom: none;
}

.btn-tickets {
    width: 70%;
    margin-left: .5rem;
    padding: 1.5rem;
    font-size: 1.5rem;
}

.btn-tickets a {
    color: #000;
    text-decoration: none;
    border-bottom: none;
}

/* ------------------------------------------------*/
/* LINEUP */
/* ------------------------------------------------*/

.section-lineup {
    padding-bottom: 8rem;
    /* background-color: #fff; */
}

.lineup-artists {
    text-transform: uppercase;
    text-align: center;
    line-height: 145%;
    font-weight: 400;
}

.lineup-artists .first-tier p { font-size: 5rem; }
.lineup-artists .second-tier p { font-size: 3.6rem; }
.lineup-artists .third-tier p { font-size: 2.8rem; }

/* ------------------------------------------------*/
/* EVENTS */
/* ------------------------------------------------*/

.section-events {
    padding-bottom: 4rem;
    color: #000000;
}

.event-box {
    background-color: #FFFFFF;
    color: #000000;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
}

.event-details {
    flex: 67%;
}

.event-image {
    flex: 33%;
}

.event-image img {
    width: 100%;
    vertical-align: bottom;
}

.event-heading {
    background-color: #000000;
    color: #FFFFFF;
    text-align: right;
    padding: 1rem 2rem; 
    text-transform: uppercase;
}

.event-heading .event-date p {
    font-size: 3rem;
    font-weight: 700;
    color: #F6D446;
}

.event-heading .event-name p {
    font-size: 2.7rem;
    font-weight: 700;
}

.event-info {
    padding: 1rem 2rem;
}

.event-location p, .event-time p {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: right;
    text-transform: uppercase;
}

.event-description {
    padding-top: 1rem;
}

.event-description p {
    font-size: 1.4rem;
    text-align: right;
}

.event-artists {
    color: #FFFFFF;
    background-color: #000000;
    text-transform: uppercase;
    width: 100%;
    padding: .5rem;
}

.event-artists p {
    text-align: center;
    font-size: 1.8rem;
}

.artists-small { display: none; }


/* ----------------------------------------------- */
/* ARTISTS */
/* ----------------------------------------------- */

.section-artists {
    list-style: none;
}

.section-artists .grid { padding-top: 4rem; }

.section-artists .grid .artist-items {
    display: flex;
    flex-wrap: wrap;
}

.section-artists .grid .artist-items .artist-item {
    position: relative; 
    display: inline-block;
    flex: 1 1 33%;
    height: auto;
    cursor: pointer;
    margin: 0 auto;
    overflow: hidden;
    background-color: #000;
}

.section-artists .grid .artist-items .artist-item img { 
    display: block;
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
}

.section-artists .grid .artist-items .artist-item .artist-link:hover img {
    opacity: 0.2;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.section-artists .grid .artist-items .artist-item p { 
    position: absolute; 
    top: 50%; 
    left: 0; 
    right: 0; 
    transform: translate(0, -50%); 
    text-align: center; 
    color: #fff;
    opacity: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 3.2rem;
}

.section-artists .grid .artist-items .artist-item .artist-link:hover p {opacity: 1;}

/* ------------------------------------------------*/
/* SPONSORS */
/* ------------------------------------------------*/

.section-sponsors {
    padding-bottom: 4rem;
    background-color: #fff;
}

.sponsor-image img {
    /* max-width: 90%; */
    width: 200px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* ------------------------------------------------*/
/* FOOTER */
/* ------------------------------------------------*/

footer {
    background-color: #333;
    font-size: 1.4rem;
    padding: 2rem;
}

footer p {
    font-size: 1.4rem;
    color: #888;
    text-align: center;
}
