$black-color: #000000;
$main-colour: #ff6300;
$main-text-colour: #FFFFFF;
$secondary-colour: #F6D446;
$secondary-colour-darker: #C3A113;
$black-overlay: rgba(0, 0, 0, .7);
$max-row-width: 1200px;

.section-contact {
    padding: 80px;
	max-width: $max-row-width;
	margin: 0 auto;
	
	h1 {
		font-size: 4rem;
		padding-bottom: 40px;
	}
    p {
		padding-bottom: 20px;
	}
}

/* MOBILE */
@media only screen and (max-width: 800px) {
	.section-contact {
        padding: 40px;
		h1 {
			font-size: 3rem;
			padding-bottom: 20px;
			text-align: center;
		}
        p {
            padding-bottom: 10px;
        }
	}
	
}
