/* ------------------------------------------------*/
/* BASIC SETUP */
/* ------------------------------------------------*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #663399;
    font-size: 62.5%;
    font-weight: 300;
    font-family: 'Oswald', 'Arial', sans-serif;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 8rem 0 0 0;
}

.box {
    padding: 1%;
}

/* ------------------------------------------------*/
/* HEADINGS */
/* ------------------------------------------------*/

h1, h2, h3, h4 {
    margin: 0;
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
}

h1, h2 {
    color: #663399;
    text-align: center;
    letter-spacing: 0.1rem;
    word-spacing: 0.3rem;
}

h2 {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}

h3 {
    font-size: 3.6rem;
    text-align: center;
    margin-bottom: 3rem;
}

/* The line that appears after the h3 element */
h3:after {
    display: block;
    height: 2px;
    background-color: #663399;
    content: " ";
    width: 10rem;
    margin: 0 auto;
    margin-top: 3rem;
}

h4 {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
 } 

/* ------------------------------------------------*/
/* HEADER */
/* ------------------------------------------------*/

header {
    /* Hero image centered and fills whole viewport */
    background-image: url(../img/web-background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.logo-img {
    width: 70%;
    max-width: 90rem;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto; 
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 5rem;
}

.main-nav li {
    display: inline-block;
    margin-left: 4rem;
}

.main-nav li a:link,
.main-nav li a:visited {
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: solid 0.2rem transparent;
    padding: 0.8rem 0;
    color: #000;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: solid 0.2rem #999;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
    height: 5rem;
}

.sticky .main-nav { margin-top: 18px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: .5rem 0;
    color: #555;
}

/* ------------------------------------------------*/
/* PARAGRAPHS */
/* ------------------------------------------------*/

p {
    font-size: 1.6rem;
    line-height: 145%;
}

.long-copy {
    width: 70%;
    margin: 0 auto 2rem auto;
    font-weight: 300;
}

/* ------------------------------------------------*/
/* LINKS */
/* ------------------------------------------------*/

a:link,
a:visited {
    color: #000;
    text-decoration: none;
    border-bottom: 0.1rem solid #555;
    padding-bottom: 0.1rem;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}


a:hover,
a:active {
    color: #555;
    border-bottom: 0.1rem solid transparent;
}

/* ------------------------------------------------*/
/* LINEUP */
/* ------------------------------------------------*/

.section-lineup {
    padding-bottom: 8rem;
}

.artists {
    text-transform: uppercase;
    text-align: center;
    line-height: 145%;
    font-weight: 400;
}

.artists .first-tier p { font-size: 6rem; }
.artists .second-tier p { font-size: 3.6rem; }
.artists .third-tier p { font-size: 2.8rem; }

/* ------------------------------------------------*/
/* EVENTS */
/* ------------------------------------------------*/

.section-events {
    padding-bottom: 8rem;
    background-color: #f4f4f4;
}

.event-box {
    background-color: #fff;
    border-radius: 0.5rem;
    width: 70%;
    padding: 1rem 2rem;
    margin: 0 auto;
    -webkit-box-shadow: 0 0.2rem 0.2rem #efefef;
    box-shadow: 0 0.2rem 0.2rem #efefef;
    text-align: center;
}

.event-box div:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.event-image {
    margin-top: 1rem;
    border-top: 0.1rem solid #eaeaea;
}

.event-image img {
    width: 100%;
}

.event-location {
    text-transform: uppercase;
}

/* ----------------------------------------------- */
/* GALLERY */
/* ----------------------------------------------- */

.section-gallery {
    padding: 0;
}

.gallery-showcase {
    list-style: none;
    width: 100%;
}

.gallery-showcase li {
    display: block;
    float: left;
    width: 33.3%;
}

.gallery-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.gallery-photo img {
    opacity: 0.8;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.gallery-photo img:hover {
    opacity: 0.2;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.gallery-photo:hover .gallery-info {opacity: 1;}

/* ------------------------------------------------*/
/* SPONSORS */
/* ------------------------------------------------*/

.section-sponsors {
    padding-bottom: 8rem;
    background-color: #fff;
}

.sponsor-image img {
    max-width: 80%;
    display: block;
    margin: 0 auto;
}

/* ------------------------------------------------*/
/* FOOTER */
/* ------------------------------------------------*/

footer {
    background-color: #333;
    font-size: 1.4rem;
    padding: 2rem;
}

footer p {
    font-size: 1.4rem;
    color: #888;
    text-align: center;
}
