$black-color: #000000;
$main-pink-colour: #FF0381;
$main-text-colour: #FFFFFF;
$secondary-colour: #F6D446;
$secondary-colour-darker: #C3A113;

.email-signup-form {
    display: "flex";

    p {
        padding-bottom: 10px;
    }

    input {
        padding: 1rem 1.5rem;
        margin: 5px 5px 5px 0px;
        width: 50%;
    }

    button {
        text-transform: uppercase;
        background-color: $secondary-colour;
        padding: 1rem 1.5rem;
    }

    button:hover {
        background-color: $secondary-colour-darker;
    }
}

/* MOBILE */
@media only screen and (max-width: 800px) {
}

