$black-color: #000000;
$main-pink-colour: #FF0381;
$main-text-colour: #FFFFFF;
$secondary-colour: #F6D446;
$secondary-colour-darker: #C3A113;

$black-overlay: rgba(0, 0, 0, .7);

@font-face {
	font-family: LeagueSpartanCustom;
	src: "../fonts/LeagueSpartan-Bold.otf";
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	&::after {
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	&::before {
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
}

html {
	height: 100%;
	font-weight: 300;
	font-family: 'LeagueSpartanCustom', 'Arial', sans-serif;
	text-rendering: optimizeLegibility;
}
